<div id="contenedorVista" style=" display: none">
    <div class="container">
        <a id="volverStore" href='/adminPanel'><img src="https://i.ibb.co/mHPj0kW/Logo-volver-removebg-preview.png" alt="volver" border="0" class="logoS" style="position: absolute; margin-top: 2em;"></a>
        <h1>MECATRON</h1>
        <h2 style="position: absolute; margin-left: 24.7vw;">Usuarios registrados</h2>
        <table id="yoursUsersTable" class="table" >
            <thead id="headTable"></thead>
            <tbody id="tableUsers"></tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/editUserAdmin.js" type="module"></script>