<div id="VistaDeCarga" style="display: block" ;>
    <div class="loader-container">
        <div class="item">
            <div class="divLogoChat">
                <h1>MECATRON REPUESTOS</h1>        
                <div style="display: flex;">
                    <a href="/perfil"><img src="https://i.ibb.co/Kxb8GDb/login.png" alt="login" border="0" class="logoS"></a>
                    <a href="/chat"><img src="https://i.ibb.co/ftwkrSb/png-transparent-email-computer-icons-message-icon-design-bass-miscellaneous-angle-black-1-1.png"  alt="login" border="0" class="logoS"></a>
                    <a href="/changeRole"><img src="https://i.ibb.co/f8TCwG1/VIP-modified.png" alt="VIP-modified" border="0"class="logoS"></a>
                    <a href="/cart"><img src="https://i.ibb.co/8DFrsw8/cart1.png" alt="cart" border="0" class="logoS"></a>
                </div>    
            </div>
        </div>
    </div>
</div>
<div id="contenedorVista" style=" display: none">
    <div class="container">
        <a href="/cart"><img src="https://i.ibb.co/mHPj0kW/Logo-volver-removebg-preview.png" alt="volver" border="0" class="logoS" style="position: absolute; margin-top: 2em;"></a>
        <h1>Pago exitoso</h1>
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 0.5em">
            <img style="width: 25vw; margin-top: 1em;" src="https://i.ibb.co/2WXT4YZ/pago-exitoso.png" alt="Pago-check-1" border="0">
        </div>
        <div id="parrafo"></div>
        <p><a href="/tickets">Ver tus tickets</a></p>
    </div>
</div>
<script src="/js/pay.js"></script>