<div class="SessionContainer">
    <div class="logo">
        <h1>MECATRON</h1>
        <div>
            <a href="/chat"><img src="https://i.ibb.co/ftwkrSb/png-transparent-email-computer-icons-message-icon-design-bass-miscellaneous-angle-black-1-1.png"  alt="login" border="0" class="logoS"></a>
            <a href="/products" style="margin-left: 2em"><img src="https://i.ibb.co/pKgL6pC/bench.png" alt="realtimeproducts" border="0" class="logoS"></a>
            <a href="/cart" style="margin-left: 2em"><img src="https://i.ibb.co/8DFrsw8/cart1.png" alt="cart" border="0" class="logoS"></a>
        </div>
    </div>
    <h1>Restablecer contraseña</h1>
    <form id="resetPassForm2" class="styleFormSession">
        <div
            style="display: flex; flex-direction: row; gap: 0.5em; width: 100%; align-items: center; justify-content: center;">
            <h1 style="margin-top: 0em; margin-right: 0.7em">1</h1>
            <span class="material-symbols-outlined" style="position: absolute; margin-left: -14em;">password</span>
            <input type="password" name="newPassword" placeholder="Nueva contraseña" required>
        </div>
        <br />
        <div
            style="display: flex; flex-direction: row; gap: 0.5em; width: 100%; align-items: center; justify-content: center;">
            <h1 style="margin-top: 0em; margin-right: 0.7em">2</h1>
            <span class="material-symbols-outlined" style="position: absolute; margin-left: -14em;">password</span>
            <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" required>
        </div>
        <br />
        <input class="boton" type="submit">
    </form>
    <p><a href="/login">Volver al login</a></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>